<!-- Another View to show all CEO with their age -->
<h2>CEO</h2>
<br>
Filter:<input type="text" ng-model="filter.ceo">
<br><br>
<table class="table table-striped" >
    <tr>
    <th>CEO</th>
    <th>Income</th>
    </tr>
    <tr ng-repeat="row in customers | filter:filter" class="repeat-animation">
        <td>{{row.ceo}}</td>
        <td>{{row.detail[0].income | currency}}</td>
    </tr>
    <tr ng-class="totalType">
        <td>Total Income</td>
        <td>{{incomeTotal | currency}}</td>
    </tr>
</table>