<!--First view which will show various companies's data stored in 'Data' array-->
<marquee><h1 ng-bind="appSettings.title"></h1></marquee>
<div id="wrapper">
    <div id="table">
        <!--            Search box filter-->
        <div id="searchDiv">
            <form class="form-inline">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"></span>
                    <input type="text" id="search" class="form-control"   
                           placeholder="Search" aria-describedby="sizing-addon1" ng-model="filter">
                </div>
            </form>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <!--                    Sorting implementation-->
                <tr>
                    <th>Id</th>
                    <th ng-click="doSort('company')">Company</th>
                    <th ng-click="doSort('ceo')">CEO</th>
                    <th ng-click="doSort('headquarters')">Headquarters</th>
                    <th ng-click="doSort('noe')">No of Employees</th>
                    <th><a href="#/new" class="glyphicon glyphicon-plus"></a></th>
                </tr>
            </thead>
            <tbody>
                <!--                    Accessing array's data-->
                <tr ng-repeat="row in customers| filter:filter | orderBy:sortBy:reverse" class="repeat-animation">
                    <td ng-bind="row.id"></td>
                    <td ng-bind="row.company"></td>
                    <td ng-bind="row.ceo"></td>
                    <td ng-bind="row.headquarters"></td>
                    <td ng-bind="row.noe"></td>
                    <td><a href="#/info/{{row.id}}">View Detail</a><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(row.id)"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h3>Version:<footer ng-bind="appSettings.version"></footer></h3>

