<!--Third view shows orders -->
<div id="info">
    <p>Details of <span ng-bind="customer.ceo"></span></p>
    <table class="table table-hover table-striped table-bordered ">
        <thead>
            <tr>
                <th>Experience</th>
                <th>Nationality</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>     
            <!--        Fetching data from array-->
            <tr ng-repeat="info in customer.detail">
                <td ng-bind="info.exp"></td>
                <td ng-bind="info.nationality"></td>
                <td ng-bind="info.age"></td>
            </tr>
        </tbody>
    </table>
</div>