<!--Second view used to add a new row in table dynamically-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-2">
            <form class="form-horizontal" role="form">
                <p id="error-msg"></p>
                <div class="form-group">

                    <label class="col-md-2 control-label">Company</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="company" name="company"
                               ng-model="row.company"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">CEO</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ceo" name="ceo"
                               ng-model="row.ceo" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Headquarters</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="headquarters" name="headquarters"
                               ng-model="row.headquarters" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">No of Employees</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="noe" name="noe"
                               ng-model="row.noe" />
                    </div>
                </div>
                <div class="form-group">								
                    <div style="padding-left:110px">
                        <!--Here a function 'Save()' will call on click event-->
                        <a href="#/newrow"><button ng-click="save()" class="btn btn-primary">Submit</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
